.topFooter {
	padding-top: 77px;
	padding-bottom: 60px;
	min-height: 261px;
}

.topFooter 
	.flex-container {
		justify-content: space-between;
		flex-wrap: wrap;
}



.footerMenuList, .socialContactList {
	list-style: none;
	padding:0;
	margin: 0;
	padding-top: 6px;

}

.footerMenuListItem {
	margin-bottom: 13px;
	font-size: 18px;
}

.footerMenuListItem:last-child {
	margin-bottom: 0;
}

.footerMenuListItem__link {
	color: #8993ad;
}

.socialBlockFooter {
	display: flex;
	flex-direction: column;
	flex-basis: 270px;
	
}

.socialBlockFooter__btn {
	margin-left: 0px;
	width: 246px;
	padding: 12px 15px;
}

.socialContactList {
	margin-top: 23px;
}

.socialContactListItem {
	background: url("../img/sprite.png") no-repeat;
	width: 35px;
	height: 35px;
	display: inline-block;
	margin-right:17px;
	cursor: pointer;
}

.socialContactListItem:last-child {
	margin-right:0px;
}

.socialContactListItem_vk {
	background-position: 1px;
}

.socialContactListItem_fb {
	background-position: -55px;
}

.socialContactListItem_tweeter {
	background-position: 70%;
}

.socialContactListItem_insta {
	background-position: 105%;
}

.contactBlockFooter {
	font-style: normal;
	padding-top: 11px;
	flex-basis: 350px;
	margin-left: 147px;
}

.contactBlockFooter__icon {
	display: block;
	padding-left: 48px;
	margin-bottom: 40px;
	font-size: 25px ;

}

.contactBlockFooter__icon:last-child {
	margin-bottom: 0;
}


.contactBlockFooter__icon_phone {
	background: url("../icons/call-answer.svg") no-repeat 4px;
	padding-left: 42px;
}


.contactBlockFooter__icon_envelope {
	background: url("../icons/envelope.svg") no-repeat 4px;
	}


.bottomFooter {
	min-height: 80px;
	background-color: #31293c;
	padding-top: 29px;
}

.copyright {
	color: #ffffff;
	text-align: center;
}

.copyright
	small {
		font-size: inherit;
	}