.mainHeader {
	background-color: #fbfbfb;
}

.header-content {
	justify-content: space-between;
	padding-top: 29px;
	padding-bottom: 3px;
	position: relative;
}


.header-content__menuBtn {
	display: none;
	background: url(../img/burger.png) no-repeat;
	background-size: contain;
	width: 46px;
	height: 33px;
	align-self: center;
	border: 0;
	cursor: pointer;
}


.main-menu {
	padding-top: 14px;
}

.main-menu-list {
	list-style: none;
	padding-left: 0;
	margin:0 ;
}

.main-menu-list-item {
	display: inline-block;
	margin-right: 28px;
}

.main-menu-list-item__link {
	display: block;
}

.main-menu-list-item__link:hover {
	text-decoration: underline;
	color: #E63E9D;
}

.main-menu-list-item:last-child {
	margin-right:0px;
}

.orderInfoContainer {
	display: flex;
	justify-content:flex-end;
	align-items: center;
	min-height: 45px;
}

.orderBtn {
	width: 207px;
	margin-left: 29px;
	cursor: pointer;
	align-self: stretch;
    padding: 10px 20px;
	background-color: #fbfbfb;
	color: #f53f4f;
	border: 1px solid #f82370;
	
}

.orderInfoContainer__orderPhone {
	font-size: 25px;
	font-weight: bold;

}




.person-info-container {
	position: relative;
	min-height: 690px;
	overflow-x: hidden;
}

.backgroundElements {
	display: inline-block;
	background: linear-gradient(0deg , #ff8f5a 0%, #ff2f96 50%);
	background-clip: text;
	-webkit-background-clip: text;
  	color: transparent;
  	line-height: normal;
  	font-weight: bold;
  	position: absolute;
  	top: 500px;
  	left: 800px;
  	opacity: 0;
  	transition: all ease 1s;
  	z-index: 20;
}

.background__Sharp:after {
	content: "#";

}
.background__DivTag:after	{
	content: "<div>";
}			

.background__EmptyTag:after {
	content: "</>";
}

.background__Braces:after {
	content: "{  }";
}

.person-info-container
	.background__Sharp_Position {
			top: 282px;
			left: 246px;
			transform: rotate(19deg);
			font-size: 57px;
			opacity: 1;
			
	}

.person-info-container
	.background__DivTag_Position1 {
			top: 86px;
			left: 787px;
			transform: rotate(-13deg);
			font-size: 30px;
			opacity: 1;
	}

.person-info-container
	.background__DivTag_Position2 {
			top: 461px;
			left: 953px;
			transform: rotate(20deg);
			font-size: 36px;
			opacity: 1;
	}

.person-info-container
	.background__EmptyTag_Position {
			top: 588px;
			left: 377px;
			transform: rotate(-22deg);
			font-size: 41px;
			opacity: 1;
	}

.person-info-container
	.background__EmptyTag_Position2 {
			display: none;
			
	}
	
.person-info-container
	.background__Braces_Position {
			top: 55px;
			left: 129px;
			transform: rotate(27deg);
			font-size: 49px;
			opacity: 1;
	}



.personInfo {
	flex-basis: 730px;
	padding: 210px 0px;
	z-index: 3;
	
}


.personInfo__nameOfPerson {
	font-weight: bold;
	font-size: 80px;
	line-height: normal;
	
}

.personInfo__job {
	margin-top: 19px;
	margin-bottom: 70px;
	color: #8993ad;
	font-size: 25px;
}
.photoContainer__personPhoto {
	order: 2;
	position: absolute;
	top:57px;
	right: 203px;
	z-index: 10;

}

.background {
	position: absolute;
	width: 100%;
	min-height: 691px;
	background: url("../img/Ellipse1.svg") no-repeat;
	background-position: 100% -90%;
	background-size: auto 110%;
	top: 0px;
	z-index: 1;
	overflow-x: hidden;

}


.personInfo__moreBtn {
	color: white;
	font-size: 18px;
	background-color: #ff4e2e;
	padding: 20px 73px 18px 69px;
	margin-top: 20px;
	cursor: pointer;

}

