@media (max-width: 1919px) {
	.fixed-container {
		max-width: 945px;
	}

	.header-content {
		padding-top: 30px;
		padding-bottom: 13px;
	}

	.orderBtn {
		padding: 14px 20px 10px 20px;
	}

	.main-menu {
		position: absolute;
		top: 73px;
		left: 0;
		z-index: 10;
		width: 0px;
		padding-top: 0;
		max-height: 0px;
		overflow: hidden;
		transition: ease 0.5s all;
	}

	.main-menu_opened {
		width: 400px;
		max-height: 800px;
		
	} 

	.main-menu-list {
		display: flex;
		flex-flow: column;
		background-color: #f5f5f5;
	}

	.main-menu-list-item {
		border-bottom: 1px solid #e3e3e3;
		margin: 0;
		padding: 25px 20px;
	}

	.main-menu-list-item:last-child {
		border-bottom: none;
	}

	.main-menu-list-item:hover {
		background: #fff0da;
	}

	.header-content__menuBtn {
		display: block;
	}

	.personInfo {
		padding: 225px 0px;
	}

	.person-info-container
		.background__Sharp_Position {
				top: 538px;
				left: 58px;
				transform: rotate(19deg);
				font-size: 57px;
				
		}

	.person-info-container
		.background__DivTag_Position1 {
				top: 59px;
				left: 886px;
				
		}

	.person-info-container
		.background__DivTag_Position2 {
				top: 457px;
				left: 870px;
				
		}

	.person-info-container
		.background__EmptyTag_Position {
				top: 493px;
				left: 358px;
				
		}

	.person-info-container
		.background__EmptyTag_Position2 {
			display: inline-block;
			top: 142px;
			left: 422px;
			transform: rotate(14deg);
			font-size: 45px;
			opacity: 1;
				
		}

		

	.person-info-container
		.background__Braces_Position {
				top: 66px;
				left: 78px;
		}

	.personInfo__nameOfPerson {
		font-size: 54px;
	}

	.personInfo__job {
		margin-top: 25px;
		margin-bottom: 75px;
	}

	.personInfo__moreBtn {
		padding: 25px 96px 21px 98px;
	}

	.servicesBlock {
		padding-top: 59px;
	}

	.servicesList {
		padding: 0 147px;
		margin-bottom: 30px;
	}

	.servicesListItem {
		margin-bottom: 63px;
	}

	.servicesBlock__headline {
		padding: 20px 300px;
		text-align: left;
	}

	.servicesBlock__checkCostBtn {
		width: 320px;
		padding: 26px 20px 22px 20px;
	}


	.servicesListItem:nth-child(3) {
		padding-left: 23px;
		padding-right: 36px;
	}

	.servicesListItem:last-child {
		padding-right: 12px;
		padding-left: 10px;
	}



	.captionType1 {
		display: none;
	}

	.captionType2 {
		display: inline;
	}


	.jobsExampleBlock {
		margin-top: 177px;
	}

	.jobsList {
		margin-top: 99px;
		margin-bottom: 105px;
	}


	.jobsExampleBlock__arrowBtn {
		display: none;
	}

	.jobsListItem {
		flex-basis: 455px;
		margin-right: 35px;
	}

	.jobsListItem 
		img {
			height: 358px;
			object-fit: cover;
	}

	

	.jobsListItemImageContainer__caption {
		font-size: 25px;
		margin-top: 21px;
		padding-left: 23px;
		padding-right: 21px;
	}


	.jobsListItem:first-child 
		.jobsListItemImageContainer__caption {
			padding-left: 19px;
			padding-right: 29px;
		}

	.jobsExampleBlock__orderBtn {
		
		display: none;
	}

	.jobsExampleBlock__checkCostBtn {
		display: block;
	}

	.indicatorsList {
		display: block;
		width: 500px;
		text-align: center;
		list-style: none;
		padding: 0;
		margin: 0 auto;
		margin-bottom: 95px;
	}

	.indicatorsList__item {
		display: inline-block;
		width: 18px;
		height: 18px;
		background-color: #ebebeb;
		margin-right: 26px;
		border-radius: 10px;
	}

	.indicatorsList__item:last-child {
		margin-right: 0;
	}

	.indicatorsList__item_active {
		background-color: #ff4e2e;
	}


	.priceBlock {
		margin-top: 101px;
	}

	.priceBlockLimitCotnainer {
		padding-right: 0px;
		padding-left: 0px;
	}


	.priceBlock
		.background__Sharp_Position {
		display: none;
		}

	.priceBlock
		.background__DivTag_Position {
		top: 304px;
		left: auto;
		right: 453px;
		font-size: 25px;
		}

	.priceBlock
		.background__EmptyTag_Position {
		top: 285px;
		left: auto;
		right: 94px;

		}

	.priceBlock
		.background__Braces_Position1 {
		top: 21px;
		left: 156px;
		font-size: 33px;
	}

	.priceBlock
		.background__Braces_Position2 {
		display: none;
	}


	.photoContainer__personPhoto {
		top: 46px;
		right: -54px;
	}

	.background {
		background-image: url("../img/Ellipse2.svg");
		background-position: 101% 326%;
		min-height: 680px;
		background-size: auto 93%;
	}

	.topFooter {
		padding-top: 100px;
		padding-bottom: 72px;
	}

	.socialBlockFooter {
		flex-basis: 248px;
	}

	.socialBlockFooter__btn {
		width: 248px;
	}

	.contactBlockFooter {
		margin-left: 108px;
	}

	.bottomFooter {
		padding-top: 29px;
	}

	.orderSectionForm {
		flex-direction: column;
		width: 550px;
	}

	.orderSection__headline {
		padding: 130px 20px;
	}

	.orderSectionFormGroup__field {
		width: auto;
	}

}

@media (max-width: 1023px) {
	.fixed-container {
		max-width: 280px;
	}

	.header-content {
		padding-top: 27px;
		justify-content: space-between;
		align-items: center;
		
	}

	.orderBtn_smallBtn {
		background: url(../img/phone.png) no-repeat;
		width: 26px;
		height: 26px;
		padding: 0;
		margin-left: 0;
		border: 0;
		outline: none;
	}

	.main-menu {
		top: 52px;
	}

	.main-menu_opened {
		width: 280px;
		
	} 

	.orderBtn__Name {
		display: none;
	}

	.header-content__menuBtn {
		width: 24px;
		height: 17px;
		align-self: flex-start;
	}

	.orderInfoContainer__orderPhone {
		font-size: 18px;
		margin-right: 34px;
		padding-top: 2px;
	}

	.orderInfoContainer {
		padding-top: 0;
		padding-right: 0;
		align-items: flex-start;
	}

	.person-info-container {
		display: flex;
		flex-wrap: wrap;
		padding-top: 53px;
		min-height: 0;
		
	}

	.backgroundElements {
		top: 150px;
		left: 50px;
	}

	.person-info-container
		.background__Sharp_Position {
				top: 67px;
				left: 17px;
				font-size: 28px;
				
		}

	.person-info-container
		.background__DivTag_Position1 {
				display: none;
				
		}

	.person-info-container
		.background__DivTag_Position2 {
				top: 8px;
				left: 226px;
				font-size: 15px;
				
		}

	.person-info-container
		.background__EmptyTag_Position {
				top: -57px;
				left: 153px;
				font-size: 19px;
				transform: rotate(-31deg);

		}

	.person-info-container
		.background__EmptyTag_Position2 {
			display: none;	
		}

	.person-info-container
		.background__Braces_Position {
				top: -37px;
				left: 29px;
				font-size: 24px;
		}
	
	.personInfo {
		padding-top: 12px;
		padding-bottom: 26px;
	}

	.photoContainer {
		position: relative;
	}

	.photoContainer__personPhoto {
		order: -1;
		position: absolute;
		width: 282px;
		height: 332px;
		top: -2px;
		left: 49px;
	}

	.personInfo__nameOfPerson {
		font-size: 30px;
		padding-left: 4px;
	}

	.personInfo__job {
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		margin-top: 7px;
		margin-bottom: 41px;
	}

	.personInfo__moreBtn {
		font-size: 16px;
		padding: 18px 83px;
	}


	.servicesBlock {
		padding-top: 2px;
	}

	.servicesBlock__headline {
		padding: 20px;
		font-size: 30px;
		text-align: center;
	}

	.servicesList {
		padding: 0;
		margin-top: 16px;
		margin-bottom: 52px;
	}

	.servicesListItem {
		max-width: 100%;
		margin-bottom: 32px;
	}

	.listItemImgContainer__image {
		width: 59px;
	}

	.listItemImgContainer__caption {
		font-size: 16px;
		line-height: 24px;
	}

	.servicesListItem:first-child {
		margin-right: 0;
		padding: 0 37px;
	}

	.servicesListItem:nth-child(2) {
		padding: 0 31px;
	}

	.servicesListItem:nth-child(3) {
		padding: 0 55px;
	}

	.servicesListItem:last-child {
		margin-bottom: 0;
		padding: 0 41px;
	}

	.servicesBlock__checkCostBtn {
		width: 280px;
		padding: 17px 20px 17px 20px;
		font-size: 16px;
	}

	.servicesListItem
		.captionType1 {
		display: none;
	}

	.servicesListItem
		.captionType2 {
		display: inline;
	}




	.jobsExampleBlock {
		margin-top: 54px;
	}

	.jobsExampleBlock__headline {
		padding: 20px;
		font-size: 30px;
		line-height: 35px;
	}

	.jobsList {
		margin-top: 24px;
		margin-bottom: 19px;
	}

	.jobsListItem {
		flex-basis: 280px;
		margin-right: 25px;
	}

	.jobsListItem:nth-child(2) {
		order: -1;
	}

	.jobsListItem 
		img {
			height: 249.21px;
	}

	.jobsListItemImageContainer__caption {
		font-size: 18px;
		padding: 0;
		text-align: left;
		margin-top: 14px;
	}

	.captionType1 {
		display: inline;
	}

	.captionType2 {
		display: none;
	}


	.indicatorsList {
		width: auto;
		padding: 0;
		margin-bottom: 46px;
	}

	.indicatorsList__item {
		width: 9px;
		height: 9px;
		margin-right: 13px;
	}


	.jobsExampleBlock__checkCostBtn {
		display: none;
	}

	.jobsExampleBlock__orderBtn {
		display: block;
		width: 280px;
		font-size: 16px;
		padding: 18px 20px;
	}
	

	
	.priceBlock {
		margin-top: 51px;
	}

	.priceBlockLimitCotnainer {
		padding-top: 41px;
		padding-bottom: 42px;
	}

	.priceBlock
		.background__DivTag_Position {
		display: none;
	}

	.priceBlock
		.background__EmptyTag_Position {
		display: none;

	}

	.priceBlock
		.background__Braces_Position1 {
		display: none;
	}

	.priceBlock__mainPBText {
		font-size: 28px;
		line-height: 40px;
		margin-bottom: 32px;
	}

	.priceBlock__secondaryPBText {
		font-size: 15px;
		line-height: 31px;
		padding-right: 0;
	}

	.priceBlock__secondaryPBText:before {
		top: -1px;
	}

	.background {
		display: flex;
		min-height: auto;
		height: 330px;
		background-image: url("../img/Ellipse1.svg");
		background-size: auto 120%;
		background-position: 60% -56%;
		position: static;
		order: -1;
		overflow-x: visible;
	}

	.topFooter {
		padding-top: 44px;
		padding-bottom: 42px;
	}

	.footerMenuList {
		padding-top: 0;
	}

	.footerMenuListItem {
		font-size: 15px;
	}

	.socialBlockFooter {
		flex-basis: 280px;
	}

	.contactBlockFooter {
		padding-top: 0;
		margin-left: 0;
		margin-top: 44px;
		margin-bottom: 25px;
	}

	.contactBlockFooter__icon {
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 26px;
	}

	.contactBlockFooter__icon_phone {
		background-position: 0;
		background-size: 13px;
		padding-left: 33px;
	}

	.contactBlockFooter__icon_envelope {
		background-position: 0px 5px;
		background-size: 14px 13px;
		padding-left: 33px;
	}

	.socialBlockFooter__btn {
		outline: none;
		width: 280px;
		height: auto;
		background-color: #ff4e2e;
		color: #ffffff;
		padding: 18px 20px 18px 20px;
		margin-left: 0;
	}

	.socialContactList {
		margin-top: 47px;
		padding-top: 0;
	}
	

	.bottomFooter {
		padding-top: 16px;
		min-height: 50px;
	}

	.copyright {
		font-size: 12px;
	}

	.orderSection {
		flex-direction: column;
	}

	.orderSectionForm {
		width: 260px;
		justify-content: flex-start;
		flex-basis: auto;
	}

	.orderSection__headline {
		padding: 30px 10px;
		flex-basis: auto;
		line-height: 20px;
		font-size: 22px;
	}

	.orderSectionFormGroup  {
		font-size: 16px;
	}
}
